<template-page title="User login">

  <div class='cnt-view mat-elevation-z16'>
    <mat-form-field appearance="fill">
      <mat-label>Your email</mat-label>
      <input
        matInput
        [formControl]="emailForm"
        (keyup)="onKeyUp($event)"
        required
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Your password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        [formControl]="passwordForm"
        (keyup)="onKeyUp($event)"
        required
      >
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button 
      mat-raised-button 
      class="ree-btn-primary"
      (click)="onLogin()"
    >
    Login
    </button>

  </div>

  <div class="filler40">
  </div>
</template-page>