<template-page title="Guest view">

  <div class='cnt-view mat-elevation-z16'>
    If you're looking for a software that can help you 
    calculate your asset income rate, look no further. 
    This easy-to-use tool can help you determine how much 
    income you can generate from your assets, so you can 
    make the most of your investment
  </div>

  <div class='cnt-view mat-elevation-z16'>
    Tired of using complex and time-consuming software 
    to calculate your income rate? Now there is a better way!
    Introducing Income Rate Calculator, the simplest and most
    accurate way to calculate your income rate. This software 
    is easy to use, trivial to setup and precisily calculate 
    your asset income rate. Forget excel! 
  </div>
  
  <div class="filler40">
  </div>
</template-page>