.cnt {
  margin-top: 20px;
  background: #efefef;
  border-radius: 10px;
  box-shadow:1px 1px 6px 2px #ccc;  
}

.title {
  /*background: #1974D2;*/
  border-radius: 10px 10px 0px 0px;
  color: #ffffff;
  font-size: 22px;
  font-variant: small-caps;
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  border-bottom: solid 1px;

}

.spacer {
  padding-top: 10px;
}