.cnt-operations {
  display: flex;
  flex-direction: column;
  gap: 15px;

  align-items: center;
  justify-items: flex-end;

  font-size: 12px;

  width: auto;
  padding: 40px;
  margin: 50px;

  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
}


