@media only screen
and (min-device-width : 401px)
and (max-device-width : 700px) {


.mat-column-controls {
  padding: 0px 20px 5px 0px;
}

.mat-column-date {
  width: 80px;
  min-width: 70px;
  padding: 0 5px 0 10px;
}

.mat-column-account-name {
  min-width: 80px;
  padding: 0 0 0 8px;
}

.mat-column-cashflow {
  width: 100px;
  min-width: 90px;
  padding: 0 0 0 8px;
}

.mat-column-qty-change {
  width: 70px;
  min-width: 70px;
  padding: 0 0 0 8px;
}


}
