
.account-ex-asset-table {
  width: 100%;
}

.mat-column-idx {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  padding-left: 16px;
  text-align: center;
}

.mat-column-account-asset-name {
  width: 100px;
  padding-left: 16px;
  text-align: left;
}

.mat-column-account-asset-fullname {
  /*width: 100%;*/
  /*padding-left: 16px;*/
  /*text-align: left;*/
}
