
.transaction-table {
  width: 100%;
}

.mat-column-idx {
  width: 24px;
  border-right: 1px solid currentColor;
  padding-right: 10px;
}

.mat-column-trans-date {
  width: 100px;
  text-align: center;
}

.mat-column-trans-cashflow {
  width: 90px;
  padding-left: 0px;
  text-align: center;
}

.mat-column-trans-credit-account-name,
.mat-column-trans-debit-account-name 
{
  width: 100px;
  text-align: center;
}

.mat-column-trans-debit-qty-change,
.mat-column-trans-credit-qty-change {
  width: 100px;
  text-align: center;
}
