<table 
mat-table 
class="transaction-table mat-elevation-z8" 
[dataSource]="transactions">

<ng-container matColumnDef="controls">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let trans">
    <button 
      mat-icon-button
      color="primary"
      (click)="onDeleteTransaction(trans.id)"
      aria-label="Delete transaction"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </td>
</ng-container>

<ng-container matColumnDef="idx">
  <th mat-header-cell *matHeaderCellDef>No</th>
  <td mat-cell *matCellDef="let idx=index">{{idx+1}}</td>
</ng-container>

<ng-container matColumnDef="trans-date">
  <th mat-header-cell *matHeaderCellDef>Date</th>
  <td mat-cell *matCellDef="let trans">{{trans.creditOp.dateTxt}}</td>
</ng-container>

<ng-container matColumnDef="trans-cashflow">
  <th mat-header-cell *matHeaderCellDef>Cash flow</th>
  <td mat-cell *matCellDef="let trans">{{trans.creditOp.cashflow}} {{trans.currency}}</td>
</ng-container>

<ng-container matColumnDef="trans-credit-account-name">
  <th mat-header-cell *matHeaderCellDef>Credit account</th>
  <td mat-cell *matCellDef="let idx=index">{{getCreditAccont(idx)}}</td>
</ng-container>

<ng-container matColumnDef="trans-credit-qty-change">
  <th mat-header-cell *matHeaderCellDef>Credit qty change</th>
  <td mat-cell *matCellDef="let trans">{{trans.creditOp.qtyChange}}</td>
</ng-container>

<ng-container matColumnDef="trans-debit-account-name">
  <th mat-header-cell *matHeaderCellDef>Debit account</th>
  <td mat-cell *matCellDef="let idx=index">{{getDebitAccont(idx)}}</td>
</ng-container>

<ng-container matColumnDef="trans-debit-qty-change">
  <th mat-header-cell *matHeaderCellDef>Debit qty change</th>
  <td mat-cell *matCellDef="let trans">{{trans.debitOp.qtyChange}}</td>
</ng-container>


<tr mat-header-row *matHeaderRowDef="transactionDisplayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: transactionDisplayedColumns;"></tr>
</table>
